.CardDis{
    margin-top: 20px;
    color : #ffffff;
    background-color: red;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border-radius: 20px;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
   
}